body{
    background-color: black;
}
aside>h1{
    color:rgb(0, 0, 0);
    background-color: #fdfdfd;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: -10px,-10px,0,-10px;
}
aside> h2{
    color: white;
    background-color: #c90000;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: -100px,-10px, 0px ,-10px;
}
aside{
    background-color: #0300c4 ;
    padding: 10px;
    border-radius: 10px;
}

footer{
    text-align: center;
}