body{
    background-color: black;
}
aside>h1{
    color:rgb(255, 255, 255);
    background-color: #ff0000;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: -10px,-10px,0,-10px;
}
aside> h2{
    color: white;
    background-color: #daa520;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: -100px,-10px, 0px ,-10px;
}
aside{
    background-color: #a09b9b ;
    padding: 10px;
    border-radius: 10px;
}
footer{
    text-align: center;
}